{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "plugins": ["prettier"],
  "rules": {
    "no-console": [0],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "prettier/prettier": "error"
  }
}
