:global {
  body {
    background: black;
  }
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 35px;
  grid-template-areas:
    'search'
    'sidebar';
  color: white;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 0 5px;
  max-width: 500px;
  margin: 0 auto;
}

.Sidebar {
  grid-area: sidebar;
  overflow-y: auto;
}

.QR {
  position: absolute;
  bottom: 0;
  right: 0;
}
