.App {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: 60px auto;
  grid-template-areas:
    'header search'
    'main sidebar';
  background: black;
  color: white;
}

.Credit {
  font-size: 0.8em;
  padding: 0 15px;
  color: #999;
}

.Header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 10px;
}

.Search {
  grid-area: search;
  padding: 10px;
}

.Sidebar {
  grid-area: sidebar;
  padding: 10px;
  overflow-y: scroll;
}

.Main {
  grid-area: main;
  padding: 10px;
}

.QR {
  position: absolute;
  bottom: 0;
  right: 0;
}
