.ui.header {
  color: white;
  text-align: center;
}

.ui.fluid.search .results {
  width: 450px !important;
}

.ui.items > .item > .content > .description {
  color: white;
}

.ui.placeholder.segment {
  background: none !important;
}
